:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --border-color: #ccc;
  --border-radius: 30px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */

html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}
body {
  color: var(--color-body);
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/*Links */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: 700;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.3s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */
.badge {
  border-radius: var(--border-radius);
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}
.badge--primary {
  background: var(--color-primary);
  color: #fff;
}
.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}
.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}
/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}
.list--inline .list__item {
  display: inline-block;
}
.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
  color: var(--color-headings);
}
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

/* If we ever need a inline Tick list */
.list--tick-inline .list__item {
  display: inline-block;
  margin-left: 1rem;
  color: var(--color-headings);
}
.list--tick-inline .list__item::before {
  margin-right: 1rem;
  content: url(../images/tick.svg);
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}
.icon--primary {
  fill: var(--color-primary);
}
.icon-container {
  display: inline-flex;
  width: 64px;
  height: 64px;
  background: #f3f9fa;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
}

/* Buttons */
.btn {
  border-radius: var(--border-radius);
  border: 0;
  cursor: pointer;
  display: block;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  transition: background 0.3s;
}
.btn--primary {
  background: var(--color-primary);
  color: #fff;
}
.btn--primary:hover {
  background: #0660d5;
}
.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}
.btn--secondary:hover {
  background: #05b5d4;
}
.btn--accent {
  background: var(--color-accent);
  color: #fff;
}
.btn--accent:hover {
  background: #e53103;
}
.btn--outline {
  background: #fff;
  border: 2px solid var(--color-headings);
  color: var(--color-headings);
}
.btn--outline:hover {
  background: var(--color-headings);
  color: #fff;
}
.btn--block {
  width: 100%;
  display: block;
}
@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Inputs */
.input {
  padding: 2rem 4rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  outline: 0;
  color: var(--color-headings);
  font-size: 2rem;
}
.input::placeholder {
  color: #cdcbd7;
}
@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

.input-group {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}
.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
  width: 0;
}
.input-group .btn {
  margin: 4px;
}
