<section class="block block--dark block--skewed-right block-showcase">
  <header class="block__header">
    <h2>User Friendly Control Panel</h2>
  </header>
  <div class="container grid grid--1x2">
    <picture class="block-showcase__image">
      <source
        type="image/webp"
        srcset="images/ipad@1x.webp 1x, image/ipad@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/ipad@1x.png 1x, image/ipad@2x.png 2x"
      />
      <img src="images/ipad@1x.png" alt="" />
    </picture>
    <ul class="list">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Update</h3>
            <p class="media__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
              velit excepturi non et doloremque perspiciatis enim pariatur
              laborum omnis alias.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Staging, Git & WP-CLI</h3>
            <p class="media__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
              accusantium consequatur atque ea et voluptatum dignissimos
              voluptates molestias maiores culpa.
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Dynamic Caching & More</h3>
            <p class="media__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
              accusantium consequatur atque ea et voluptatum dignissimos
              voluptates molestias maiores culpa.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
